<div class="alert alert-dismissible" 
     ng-class='alertClassProfile'
     role="alert" 
     ng-if='messageProfile'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ messageProfile }}
</div>

<div class='row'>
    <div class="page-header">
      <h1 class='text-center'>Hello, {{ $parent.currentUser().name }}</h1>    
      <h3 class='text-center'> My Pins: </h3>
    </div>
    <div class='col-xs-12' ng-show='loading'>
         <img class='center-block' src='../images/loading-spinner.gif' alt='loader'/>
    </div>    
    <my-pins-profile ng-hide='loading'></my-pins-profile>
</div>















