<div class="alert alert-dismissible" 
     ng-class='alertClassProfile'
     role="alert" 
     ng-if='messageProfile'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ messageProfile }}
</div>

<div class='row'>
    <div class='col-xs-12'>
        <div class="jumbotron">
          <h1 class='text-center'>Hello, {{ $parent.currentUser().name }}</h1>
        </div>
    </div>
</div>

<my-pins-profile></my-pins-profile>











